* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;

}

.headings {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    padding-top: 30px;
    display: flex;
    width: 60%;
    flex-direction: column;
    gap: 40px;
}



.seperator {
    display: flex;
    justify-content: center;
}

.img-data {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
}

.img-data .data {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.img-data img {
    border-radius: 10px;
}

@media screen and (max-width:450px) {
    .img-data {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .headings h1 {
        text-align: center;
    }
}

@media screen and (max-width:600px) {
    .img-data {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .headings h1 {
        text-align: center;
    }
}