* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.container {
    height: 80%;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.container .box1 {
    grid-row: 1/2;
    grid-column: 1/3;
}

.box2 {
    background-image: url("resources/person_1.png");
    background-color: powderblue;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: -1;
}

.box3 {
    background-image: url("resources/person_2.png");
    background-color: pink;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: -1;
    border-top-right-radius: 20px;
}

.box5 {
    background-image: url("resources/person_3.png");
    background-color: skyblue;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: -1;
}

.container .data p:last-child {
    padding-right: 0px;
}

.box6 {
    background-image: url("resources/person_4.png");
    background-color: bisque;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: -1;

}

.box7 {
    background-image: url("resources/person_5.png");
    background-color: aquamarine;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: -1;
    border-bottom-right-radius: 20px;
}

.info h3,
p {
    padding-left: 20px;
    color: rgb(247, 245, 245);
    padding-bottom: 10px;
}

.box1 p:first-child {
    color: blue;
    padding: 0px;
}

.box1 p:last-child {
    color: black;
    padding: 0px;
}

.box1 {
    background-image: url("resources/Background_decor.svg");
    display: flex;
    justify-content: center;
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 30px;
    background-color: rgb(234, 234, 234);
    border-top-left-radius: 20px;
}

.box1 .data {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.box4 p {
    color: black;
}

.box4 {
    background-color: rgb(234, 234, 234);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-bottom-left-radius: 20px;
}

.box4 .data {
    padding-bottom: 20px;
    display: flex;
    gap: 4px;
}

@media screen and (max-width:1024px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);

    }


    .container .box1 {
        grid-column: 1/5;
        grid-row: 1/2;
        width: 100%;
        border-top-right-radius: 20px;
        padding-bottom: 60px;

    }


    .box2 {
        grid-column: 1/2;
        grid-row: 2/3;
        background-size: contain;
        background-repeat: no-repeat;
        background-position-x: center;
    }

    .box3 {
        grid-row: 2/3;
        grid-column: 2/3;
        border-radius: 0px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position-x: center;
    }

    .box4 {
        grid-column: 1/2;
        grid-row: 3/4;

    }

    .box5 {
        grid-column: 3/4;
        grid-row: 2/3;
        background-size: contain;
        background-repeat: no-repeat;
        background-position-x: center;
    }

    .box6 {
        grid-column: 2/3;
        grid-row: 3/4;
        background-size: contain;
        background-repeat: no-repeat;
        background-position-x: center;
    }

    .box7 {
        grid-column: 3/4;
        grid-row: 3/4;
        background-size: contain;
        background-repeat: no-repeat;
        background-position-x: center;
    }
}

@media screen and (max-width:500px) {


    .container {
        display: flex;
        flex-direction: column;
    }

    .arrow {
        height: 300px;
        padding-top: 260px;
    }

    .info {
        height: 300px;
    }

    .box4 {
        order: 6;
        border-bottom-right-radius: 20px;
    }

    .info h3 {
        padding-top: 230px;
    }

    .box7 {
        border-radius: 0px;
    }
}