* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    height: 20%;
    width: 80%;
    border: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner {
    height: 40%;
    width: 80%;
    border: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
}