* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;

}

.outer-div {
    margin: 0 auto;
    height: 40%;
    width: 80%;
    border: solid 1px black;

}

.inner-div {
    margin: 50px auto;
    height: 70%;
    width: 50%;
    border: solid 1px black;
}

h1 {
    margin: 50px;
    border: solid 1px black;
}