.home-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 20px;
	box-shadow: 3px 3px 20px gray;
	height: 300px;
	width: 400px;
}
.home-container button {
	background-color: rgb(153, 213, 213);
	color: blue;
}
