* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	height: 100vh;
	width: 100vw;
	display: grid;
	place-items: center;
}
#outer-box {
	background-color: black;
	width: 50%;
	height: 50%;
	padding: 20px;
	border-radius: 20px;
	color: white;
	box-shadow: 4px 4px 20px blue;
}

#timer {
	text-align: end;
	font-size: 1.3rem;
}
#q-box {
	font-size: 20px;
}

#a-box {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}
#a-box button {
	height: 30px;
	width: 40%;
}
