.posts-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	gap: 20px;
	flex-wrap: wrap;
}
.single-post {
	height: 200px;
	width: 400px;
	box-shadow: 3px 3px 20px gray;
	border-radius: 20px;
	padding: 10px;
	animation-name: ani1;
	animation-direction: alternate;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}
@keyframes ani1 {
	from {
		transform: 0;
	}
	to {
		transform: translate(20px);
	}
}
