* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 340vh;
    width: 100vw;
    display: flex;
    justify-content: center;

}

.container {
    height: 300vh;
    width: 95vw;
    background-color: rgb(189, 184, 184);
    display: grid;
    grid-template-rows: 5fr 10fr 2fr 5fr;
}

header {
    background-color: rgb(237, 147, 115);
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

nav {
    width: 95%;
    background-color: orangered;
    height: 40%;
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    align-items: center;
}


nav .links {
    display: flex;
    width: 50%;
    gap: 40px;
    justify-content: end;
}

nav h1 {
    font-size: 30px;
}

nav .links a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

header h2 {
    font-size: 24px;
}

header p {
    font-size: 20px;
    display: flex;
    align-items: center;
}

header p img {
    padding-left: 10px;
    height: 30px;
    width: 30px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 60px;
    height: fit-content;
}

main .day-recipe {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 95%;
}

main .day-recipe h1 {
    align-self: flex-start;
}

main .recipe-details {
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

main .recipe-details .image {
    grid-row: 1/3;
    grid-column: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .recipe-details .image img {
    height: 95%;
    width: 95%;
    border-radius: 10px;
}

.ingredients {
    padding-top: 30px;
}

.steps {
    padding-top: 30px;
}

main ul {
    margin-top: 20px;
}

main ol {
    margin-top: 20px;
}

main li {
    margin-left: 50px;
    font-size: 20px;
}

main .nutrition-info {
    width: 95%;
    height: 150px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

main table {
    width: 100%;
    height: 80%;
    background-color: white;
    border-collapse: collapse;
}

main table thead {
    height: 40%;
}

main table th {
    padding: 10px 0px;
}

main table td {
    padding: 10px;
}

main .food-gallery {
    width: 95%;
    height: 250px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

main .food-gallery .images {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

main .food-gallery .images img {
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

main .subscribe {
    width: 95%;
    height: 280px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form div {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

form div input {
    height: 30px;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

form button {
    height: 35px;
    background-color: orangered;
    color: white;
    border-radius: 5px;
    border: none;
}

footer {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}