* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 90vw;
    align-items: center;
}

.input-box input {
    height: 30px;
    width: 300px;
    padding: 5px;
}

.input-box button {
    height: 30px;
    width: 100px;
    border-radius: 4px;
    cursor: pointer;
}

body {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

#todo-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    font-size: 20px;
    width: 60%;
}

.todo-item {
    display: flex;
    gap: 20px;
    align-items: center;
}

.todo-item button {
    cursor: pointer;
    height: 30px;
    width: 80px;
}