*,
*::after,
*::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	height: 100vh;
	width: 100vw;
	margin-top: 100px;
}
main {
	width: 80vw;
	padding: 5%;
	margin: 0 auto;
	border: solid 1px black;
	border-radius: 20px;
	box-shadow: 6px 6px 10px gray;
	background-color: rgb(24, 24, 24);
}

h1 {
	text-align: center;
	color: rebeccapurple;
}
.timer {
	text-align: end;
	font-weight: 800;
	color: red;
	font-size: larger;
}
.question {
	margin-top: 20px;
	font-size: larger;
}
.options {
	margin: 30px 0;
}
ul {
	list-style: none;
}
li {
	border: solid 1px black;
	margin: 10px 0;
	padding: 10px;
	border-radius: 10px;
	cursor: pointer;
	background-color: black;
	color: white;
}
li:hover {
	border: solid 2px rebeccapurple;
}
.buttons {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

button {
	padding: 10px 35px;
	border-radius: 8px;
	border: 1px solid black;
	font-size: 1rem;
	cursor: pointer;
	background-color: transparent;
}

body {
	background-color: black;
}
.question p {
	color: beige;
}

button {
	background-color: blue;
	color: white;
}

button:hover {
	transition-property: all;
	transform: scale(1.1);
	transition-duration: 2s;
}

.highlight {
	background-color: rgb(138, 225, 138);
	color: rgb(175, 24, 24);
}
