* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    text-align: center;
}

div>div {
    display: inline-block;
    background-color: yellow;
    height: 400px;
    width: 300px;
}

.linear div:nth-of-type(1) {
    background: linear-gradient(red, yellow, blue);
}

.linear div:nth-of-type(2) {
    background: linear-gradient(to right, red 70%, green);
}

.linear div:last-of-type {
    background: linear-gradient(140deg, violet, green, red);
}

.radial div:nth-of-type(1) {
    background: radial-gradient(yellow, blue);
}

.radial div:nth-of-type(2) {
    background: radial-gradient(closest-side, yellow, blue, red);
}

.radial div:nth-of-type(3) {
    background: radial-gradient(farthest-side, yellow, blue, red);
}

.conic div:nth-of-type(1) {
    background: conic-gradient(red, blue, green, yellow);
}

.conic div:nth-of-type(2) {
    background: conic-gradient(black, blue, green, yellow);
}

.conic div:nth-of-type(3) {
    background: conic-gradient(black, blue, yellow);
}